.DragArea {
  border: 2px dashed #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
  height: 100px;
  width: 30%;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background: #e2e2e6;
  margin: 4%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.ImageContainer {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.ImageCard {
  border: 2px solid black;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background: #fff;
}

.Buttons {
  padding: 10px 15px;
  font-size: 20px;
  margin: 10px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #e2e2e6;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
