

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    color:aquamarine;
}


   .nav ul {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        grid-template-rows: 1fr;
        gap: 0.5rem;
    }




    .nav a {
        display: flex;
        align-items: center;
       color:aquamarine;
    }
